
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>YeuCauDangNhap</title>
</head>
<body>
    <h1>Bạn không đủ thẩm quyền!!!</h1>
    <h2>Mời bạn đăng nhập để tiếp tục</h2>
    <button onclick="location.href = '@Url.Action("NhanVienDangNhap")'">Đăng nhập</button>
</body>
</html>


